################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
*.db
*.tlog
/ModernCPP/Debug
*.opendb
ModernCPP/ModernCPP.exe
ModernCPP/ModernCPP.ilk
ModernCPP/ModernCPP.obj
ModernCPP/ModernCPP.pdb
ModernCPP/vc140.pdb
